* {
  padding:0;
  margin:0;
  font-family: sans-serif;
}
html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
   background: linear-gradient(#8f94a9,#203854);
}
.login-text{
  color: #e4cc9a;
  margin-bottom: 20px;
  text-align: center;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
 box-shadow: 0 15px 25px rgba(228,204,154,.6);
  border-radius: 10px;
}

.container h4 {
  margin: 0 0 30px;
  padding: 0;
  color: #e4cc9a;
  text-align: center;
}

.container .input-group {
  position: relative;
}

.container .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #e4cc9a;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #e4cc9a;
  outline: none;
  background: transparent;
}
.container .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #e4cc9a;
  pointer-events: none;
  transition: 0.5s;
}

.container .input-group input:focus ~ label,
.container .input-group input:valid ~ label {
  top: -20px;
  left: 0;
  color: #e4cc9a;
  font-size: 12px;
}

.container form a[type="submit"] {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #e4cc9a;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  letter-spacing: 4px;
}
.container form a.login-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #e4cc9a;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 10px;
  letter-spacing: 4px;
}
.container form a.login-btn:hover{
  color: #e4cc9a;
}
.container form a[type="submit"]:hover{
  color: #e4cc9a;
}
.container a:hover {
  background: #203854;
  color: #e4cc9a;
  border-radius: 5px;
  box-shadow: 0 0 5px #203854, 0 0 25px #203854, 0 0 50px #203854,
    0 0 100px #203854;
}

.container a span {
  position: absolute;
  display: block;
}

.container a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #e4cc9a);
  animation: animacaoBotao1 1s linear infinite;
}

@keyframes animacaoBotao1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.container a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #e4cc9a);
  animation: animacaoBotao2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animacaoBotao2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.container a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #e4cc9a);
  animation: animacaoBotao3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animacaoBotao3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.container a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #e4cc9a);
  animation: animacaoBotao4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animacaoBotao4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
button{
  background: transparent;
  padding-top: 0px;
  border:none;
}

select{
  background:transparent;
  color: #e4cc9a;
  font-size: 17px;
  border:1px solid #e4cc9a;
  border-radius: 5px;
  padding: 10px;
}

select *{
  color: #e4cc9a;
  background:rgba(32,56,84,1);
}
button[type="submit"]{
  margin-top:15px;
}
a.login-btn{
  padding-top: 0px;
}
